{{!-- Test --}}

<div id="profileGameBox" class="container my-4 p-3 border rounded row">
  <h2 class="col-3">Game Name</h2>
  <div class="col-6 row">
      <h3 class="col cornflower-font m-1">Publisher</h3>
        <div class="border rounded m-2 p-1">
          <p class="white-font">Publisher goes here</p>
        </div>
      <h3 class="col cornflower-font m-1">Platforms</h3>
        <div class="border rounded m-2 p-1">
          <p class="white-font">Platforms go here</p>
        </div>
  </div>
  <div class="col-3">

    <div class="d-flex align-items-end flex-column mb-3" style="height: 200px;">
        <div class="p-2">
          <button class="btn btn-primary btn-sm white-font">Write a review</button>
        </div>
        <div class="mt-auto p-2">
          <button class="btn btn-primary btn-sm white-font">View reviews</button>
        </div>
    </div>

  </div>
</div>

<script src="/Homework/Game-Harbour/controllers/api/gameRoutes.js"></script>