<div id="gameBox" class="container my-4 p-3 border rounded">
  <h2>Game Name</h2>
  <div>
      <h3>Publisher</h3>
      <h3>Platforms</h3>
  </div>
</div>

<script src="/Homework/Game-Harbour/controllers/api/gameRoutes.js"></script>