
{{!-- Game box that will render on the review page --}}

<div id="reviewBox" class="container my-4 p-3 border rounded row">
    
    <div class="col-4 align-self-center">
      <h3 class="rhythm-font">Game Name</h3>
    </div>
    
    <div class="col-6">
      <h3 class="cornflower-font">Review</h3>
      <p class="white-font mt-2">review goes here</p>
    </div>

    <div class="col-2 d-flex justify-content-between align-items-end flex-column" style="height: 200px;">

        <div class="p-2 d-flex flex-column align-items-center">
          <h3 class="cornflower-font">Rating</h3><br>
          <h4 class="white-font">{{rate}}/5</h4>
        </div>
        <div class="mt-auto">
          <p class="white-font">Username</p>
        </div>

    </div>
    
</div>