
{{!-- Game Box that will render on search page after user makes a search--}}

{{!-- confirm that {keys} are correct--}}

<div id="searchGameBox" class="container my-4 p-3 border rounded row">

<div class="col-3">
  <h2 id="gameName">{{ name }}</h2>
  <img src="{{ image.medium_url }}" class="img-fluid" style=" max-width: 80%; max-height: auto " >
</div>

  <div class="col-6 row">
    
      <h3 class="col cornflower-font m-1">Release Date:</h3>
        <div class="border rounded m-2 p-1">

          <p class="white-font" id="gamePublisher">{{original_release_date}}</p>
        </div>
      <h3 class="col cornflower-font m-1">Platforms</h3>
        <div class="border rounded m-2 p-1">

          {{#each platforms as | platform |}}
          <p class="white-font" id="gamePlatform">{{name}}</p>
          {{/each}}
          
        </div>

  </div>

  <div class="col-3">

    <div class="d-flex align-items-end flex-column mb-3" style="min-height: 100%;">

        <div class="p-2">
          <button class="btn btn-primary btn-sm white-font" id="addGameBtn" data-toggle="modal" data-target="#gameAddedModal"> 
            Add game
            </button>
        </div>
        <div class="mt-auto p-2">
          <button class="btn btn-primary btn-sm white-font" id="viewReviewBtn">View reviews</button>
        </div>

    </div>

  </div>

<!-- Modal -->
  <div class="modal fade" id="gameAddedModal" tabindex="-1" role="dialog" aria-labelledby="gameAddedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="gameAddedModalLabel">Game Added!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your game has been successfully added.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>