
{{!-- Game Box that will render on search page after user makes a search--}}

{{!-- confirm that {keys} are correct--}}

<div id="searchGameBox" class="container my-4 p-3 border rounded row">

  <h2 class="col-3" id="gameName">{{name}}</h2>

  <div class="col-6 row">
    
      <h3 class="col cornflower-font m-1">Publisher</h3>
        <div class="border rounded m-2 p-1">
          <p class="white-font" id="gamePublisher">{{original_release_date}}</p>
        </div>
      <h3 class="col cornflower-font m-1">Platforms</h3>
        <div class="border rounded m-2 p-1">
          <p class="white-font"id="gamePlatform">{{platforms}}</p>
        </div>

  </div>

  <div class="col-3">

    <div class="d-flex align-items-end flex-column mb-3" style="height: 200px;">

        <div class="p-2">
          <button class="btn btn-primary btn-sm white-font" id="addGameBtn">Add game</button>
        </div>
        <div class="mt-auto p-2">
          <button class="btn btn-primary btn-sm white-font" id="viewReviewBtn">View reviews</button>
        </div>

    </div>

  </div>
</div>