<div class="row">

  <div class="col-md-6 container white-font border border-secondary-subtle p-3 rounded">
    <h2>Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 container white-font border border-secondary-subtle p-3 rounded">
    <h2>Sign Up</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>



{{!-- Test --}}

<div id="gameBox" class="container my-4 p-3 border rounded row">
  <h2 class="col-3">Game Name</h2>
  <div class="col-6 row">
      <h3 class="col cornflower-font m-1">Publisher</h3>
        <div class="border rounded m-2 p-1">
          <p class="white-font">Publisher goes here</p>
        </div>
      <h3 class="col cornflower-font m-1">Platforms</h3>
        <div class="border rounded m-2 p-1">
          <p class="white-font">Platforms go here</p>
        </div>
  </div>
  <div class="col-3">

    <div class="d-flex align-items-end flex-column mb-3" style="height: 200px;">
        <div class="p-2">
          <button class="btn btn-primary btn-sm white-font">Write a review</button>
        </div>
        <div class="mt-auto p-2">
          <button class="btn btn-primary btn-sm white-font">View reviews</button>
        </div>
    </div>

  </div>
</div>





















<script src="./js/login.js"></script>
