{{!-- My Games Page --}}


<section class="row justify-content-between">

  <div class="col-3">
    <h4 class="white-font">Welcome, {{name}}!</h4>
    <h1 class="rhythm-font mt-4">My Games</h1>
  </div>

  <div class="col-2">
    <button class="btn btn-primary white-font" id="profile-search-btn">Search game</button>
  </div>

</section>

<section class="flex-row justify-center">
    {{#each games as |games|}}
    {{> my-game-box}}
    {{/each}}
</section>

<script src="./js/profile.js"></script>

