{{!-- My Games Page --}}


<div class="row justify-content-between">

  <div class="col-3">
    <h4 class="white-font">Welcome, {{name}}!</h4>
    <h1 class="rhythm-font mt-4">My Games</h1>
  </div>

  <div class="col-2">
    <button class="btn btn-primary white-font" id="search-btn">Search for a game</button>
  </div>

</div>



<script src="./js/profile.js"></script>
