{{!-- Game review page --}}

{{!-- check that keys are correct --}}


<section class="d-flex flex-row">
  <h1 class="white-font">{{game.name}}</h1>
  <h2 class="rhythm-font ms-3 mt-2">Reviews</h2>
</section>

<section class="flex-row justify-center">
    {{#each review as |reviews|}}
    {{> review-box}}
    {{/each}}
</section>




    

      


    
