<form id = "form">
  <div class="mb-3">
    <label for="searchForAGame" class="form-label m-2">Search for a game:</label>
    <input type="search" class="form-control" id="search-form" placeholder="&#x1F50E;">
  </div>
  <button type="submit" class="btn btn-primary" id="search-btn">Search</button>
</form>

<section class="flex-row justify-center">
    {{#each user.games as |game|}}
    {{> search-game-box}}
    {{/each}}
</section>

<script>
  const apikey = "{{apikey}}";
</script>
<script src="/js/search.js"></script>