:root {
  --space: rgb(28, 20, 80);
  --koamaru: rgb(51, 45, 113);
  --rhythm: rgb(125, 112, 154);
  --cornflower: rgb(30, 82, 134);
  --indigo: rgb(20, 54, 113);
  --darkest: rgb(3, 29, 52);
  --white: rgb(223, 224, 229);
}

body {
  background-color: var(--darkest) !important;
}

header, .project:not(:last-child) {
  border-bottom: 1px solid var(--white);
}

header {
  background-color: var(--cornflower);
}

header h1 {
  font-family: 'Tektur', sans-serif;
  color: var(--white);
}

h2 {
  font-family: 'Lora', serif;
  color: var(--rhythm) !important;
}

form div label {
  font-family: 'Lora', serif;
  color: var(--white);
}

form div button {
  font-family: 'Lora', serif !important;
  color: var(--white);
}

.white-font {
  font-family: 'Lora', serif !important;
  color: var(--white);
}

.rhythm-font {
  font-family: 'Lora', serif !important;
  color: var(--rhythm);
}

.cornflower-font {
  font-family: 'Lora', serif !important;
  color: var(--cornflower);
}

#profileGameBox, #searchGameBox {
  box-shadow: 5px 5px 50px 4px black;
}
