:root {
  --space: rgb(28, 20, 80);
  --koamaru: rgb(51, 45, 113);
  --rhythm: rgb(125, 112, 154);
  --cornflower: rgb(30, 82, 134);
  --indigo: rgb(20, 54, 113);
  --darkest: rgb(3, 29, 52);
}



header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}


header h1 {
  font-family: 'Tektur', sans-serif;
}

h2 {
  font-family: 'Lora', serif;
}

form div label {
  font-family: 'Lora', serif;
}

form div button {
  font-family: 'Lora', serif !important;
}


